:root {
  --primary-color: rgb(214, 121, 164);
  --secondary-color: #f7e1f4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Noto Sans Mono", monospace;
  --background: #faeaf3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: "Alkalami", serif;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
  line-height: 1.5;
}

h2 {
  font-size: 58px;
}

h4 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 48px;
}

p {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--background);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--primary-font);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--primary-font);
}

.content p {
  font-size: 14px;
}

.content {
  text-align: center;
  margin: 30px;
}

.btn-branding {
  font-family: var(--primary-font);
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: var(--primary-color);
  transition: all 600ms ease-in-out;
}

.btn-branding-outline {
  font-family: var(--secondary-font);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.paragraph-headings:hover {
  color: #e37189;
}

.logo {
  max-height: 150px;
  margin-left: 80px;
  display: block;
  margin: 0 auto;
}

nav {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 80ms ease-in-out;
}

nav a:hover {
  color: var(--background);
  color: #6d7a7a;
  text-decoration: none;
}

nav li.active a {
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

#check-out {
  color: #e37189;
  font-size: 50px;
  font-weight: bolder;
  font-family: var(--secondary-font);
  padding: 50px;
}

#coding-gif {
  max-width: 100%;
  height: auto;
}

#coming-soon-gif {
  max-width: 100%;
  height: auto;
}

#selfie-pic {
  max-width: 100%;
  height: auto;
  width: 380px;
  border-radius: 20px;
}

#work-together {
  margin-left: 70px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  #check-out {
    line-height: normal;
    font-size: 38px;
    padding: 0;
  }

  #coding-gif {
    margin-top: 8%;
    max-width: 30%;
  }
}
